<div class="background-image">
    <header>
        <a class="navlogo" href="index.html"></a>
        <div id="navbar" class="menu-burger">
            <ul class="menu-burger-content">
                <li><a href="{{path('app_product_index')}}">Nos véhicules</a></li>
                <li><a href="{{path('app_category_index')}}">Catégories de véhicules</a></li>
                <li><a href="{{path('app_cart_index')}}">Panier</a></li>
            </ul>
        </div>
        <div id="button">
            <a href="{{path('app_login')}}">Connexion</a>
            <a href="{{path('app_register')}}">Créer un compte</a>
        </div>
    </header>
    <p class="titre">EXOTIC-RENTALS</p>
    <p class="sous-titre">Bienvenue à la meilleure boite de location de véhicules de luxe de Paris</p>
    <div id="button" class="home-button">
        <a class="buttons-home" href="categories.html">Nos voitures</a>
        <a class="buttons-home" href="voitures.html">Catégories de véhicules</a>
    </div>
</div>