{% include 'base.html.twig' %}
<div class="container">
<center>
	<h1>{{ category.name }}</h1>
</center>
	<div class="row">
		{% for product in category.products %}
			{% for media in img %}
				{% if product.id == media.product.id %}
					<div class="col-xl-4 col-md-12 col-xs-12">
						<a class"link-vehicles" href="{{ path('app_product_show', {'id': product.id}) }}">

							<div class="card">
								<img class="card-img-top" src="{{ asset(media.path ~ media.type) }}" alt="{{ media.alt }}">
							</a>

							<div class="card-body">
								<h5 class="card-title">{{ product.name }}</h5>
								{# <p class="card-text">{{ product.description }}</p> #}
								<p class="card-price">{{ product.price }}
									€</p>
								{# <a href="{{ path('app_product_show', {'id': product.id}) }}" id="button-cart">Voir le produit</a> #}
								<a href="{{ path('app_cart_line_new', {'productId': product.id}) }}" id="button-cart">Ajouter au panier</a>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
</div>

{% include 'footer.html.twig' %}

{# <a href="{{ path('app_product_new') }}" class="btn btn-primary">Create new</a> #}
{# {% endblock %} #}
