{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Toutes les voitures de catégorie {{category.name}}</h1>

    <ul>
        {% for product in category.products %}
            <li>{{product.id}} {{product.name}} ({{product.description}})</li>
            <a href="{{path('app_product_show', {'id' : product.id})}}">Voir le produit</a>
        {% endfor %}
    </ul>
{% endblock %}
