{% include 'base.html.twig' %}

{# {% block title %}Product index
{% endblock %} #}

{% block stylesheets %}
	<style></style>
{% endblock %}
{% block body %}

	<center>
		<h1>Nos véhicules</h1>
	</center>

	<div class="container">
		<div class="row">
			{% for product in products %}
				{% for media in img %}
					{% if product.id == media.product.id %}
						<div class="col-xl-4 col-md-12 col-xs-12">
							<a class"link-vehicles" href="{{ path('app_product_show', {'id': product.id}) }}">
								<div class="card">
									<img src="{{ asset(media.path ~ media.type) }}" class="card-img-top" alt="{{ media.alt }}">
								</a>
								<div class="card-body">
									<h5 class="card-title">{{ product.name }}</h5>
									{# <p class="card-text">{{ product.description }}</p> #}
									<p class="card-price">{{ product.price }}
										€</p>
									<a href="{{ path('app_cart_line_new', {'productId': product.id}) }}" id="button-cart">Ajouter au panier</a>

								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('app_product_new') }}" class="card-title">Add New Product</a>
		{% endif %}
	</div>


	
{% include 'footer.html.twig' %}
{% endblock %}
