{% include 'base.html.twig' %}

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="{{ asset(img[0].path ~ img[0].type) }}" alt="{{ img[0].alt }}" class="card-img-top" style="border-radius: 20px;">
		</div>
		<div class="col-md-6">
			<div class="vehicule">
				<div class="card" style="margin-top: 0px;">
					<div class="card-body">
						<h5 class="card-title">{{ product.name }}</h5>
						<p class="card-text">{{ product.description }}</p>
						<p class="card-text">
							{% if product.available %}
								Disponible
							{% else %}
								Indisponible
							{% endif %}
						</p>
						<p class="card-price">{{ product.price }}
							€</p>
						{% if product.available %}
							<a href="{{ path('app_cart_line_new', {'productId': product.id}) }}" id="button-cart">Ajouter au panier</a>
						{% endif %}
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'footer.html.twig' %}

