{% extends 'base.html.twig' %}

{% block title %}New CartLine{% endblock %}

{% block body %}
    <h1>Create new CartLine</h1>

    {# {{ include('cart_line/_form.html.twig') }} #}

    {% for cart in cart %}

     <tr>
        <td>{{ cart.id }}</td>
        <td>{{ cart.getProduct().getId() }}</td>
        <td>
            <form method="post" action="{{ path('app_cart_line_edit', {'id': cart.id}) }}">
                <select name="quantity" id="quantity">
                    {% for i in 1..10 %}
                        <option value="{{ i }}" {% if i == cart.getQuantity() %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Update quantity">
            </form>
        </td>

        <td><a href="{{path('app_cart_line_delete',{'id': cart.id })}}"> supprimer le produit du panier</a></td>

    <form method="post" action="{{ path('app_cart_line_delete', {'id': cart.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cart.id) }}">
        <button class="btn">Delete</button>
    </form>

        {# <td>{{ cart.cart_id }}</td>  #}
    </tr>
    <br>
    <br>
    {% endfor %}

    <a href="{{ path('app_customer_address_new') }}">back to list</a>
{% endblock %}
